/* PAGE */
.container {
  width: 100%;
  background: #c8dbea;
  padding: 16px;
  min-height: 100vh;
  box-sizing: border-box;
}

/* HEADER */
.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 26px;
  font-weight: 700;
}

.logo {
  width: 42px;
}

/* FILTER ROW */
.filterRow {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}

.search {
  flex: 1;
  height: 40px;
  border-radius: 12px;
  padding: 0 12px;
  border: 1px solid #456;
}

.filterBtn,
.sortBtn {
  background: #fff;
  border-radius: 12px;
  padding: 7px 12px;
  border: 1px solid #234;
  font-weight: 500;
}

/* CARD */
.card {
  margin-top: 16px;
  background: #d7e7f5;
  border: 2px solid #003049;
  border-radius: 14px;
  padding: 14px;
  transition: 0.2s;
}

.card:hover {
  background: #e7f3ff;
}

/* HEADER INSIDE CARD */
.cardHeader {
  display: flex;
  flex-direction: column;
}

.titleBlock {
  font-size: 17px;
  font-weight: bold;
}

.statusBlock {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
}

.onGoing {
  font-weight: bold;
  color: #003049;
}

.updated {
  font-size: 12px;
  opacity: 0.8;
}

/* Separator */
.separator {
  width: 100%;
  height: 1px;
  background: #003049;
  opacity: 0.2;
  margin: 10px 0;
}

/* DOT LINE */
.lineWrapper {
  position: relative;
  margin-top: 10px;
}

.line {
  position: absolute;
  top: 6px;
  width: 100%;
  height: 2px;
  background: #003049;
  opacity: 0.4;
}

.dotRow {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: black;
}

/* LETTERS */
.letterRow {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

/* BOTTOM */
.bottomRow {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.statusText {
  font-weight: bold;
  color: green;
}

/* BOTTOM NAVIGATION */
.bottomNav {
  margin-top: 40px;
  background: #b2cbe0;
  padding: 12px;
  border-radius: 14px;
  display: flex;
  justify-content: space-around;
  position: sticky;
  bottom: 10px;
}

.navItem a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 12px;
}

.navIcon {
  width: 28px;
  margin-bottom: 4px;
}

.activeNav {
  background: #003049;
  border-radius: 10px;
  padding: 6px 12px;
}

.activeNav p {
  color: white;
}

/* MOBILE */
@media (max-width: 480px) {
  .title {
    font-size: 22px;
  }

  .card {
    padding: 10px;
  }

  .dot {
    width: 10px;
    height: 10px;
  }
}
